<% include ../partials/header.ejs %>

<h2> EDIT <%= event.name %> </h2>

<div class="container">
    <form action="/events/<%= event._id %>/edit?_method=PUT" method="POST">

        <input type="text" name="eventName" placeholder="Name of your event" value="<%= event.name %>">

        <input type="text" name="location" placeholder="Location of your event" value="<%= event.location%>" >>

        <label> Starting Time and Date of Event:
            <input type="datetime-local" name="startTime" placeholder="Starting date and time of your event"%>>
        </label>

        <label> Ending time and date of event:
            <input type="datetime-local" name="endTime" placeholder="Ending date and time of your event">
        </label>

        <textarea name="Description" placeholder="Event Description" id="" cols="30" rows="10"></textarea>

        <input type="submit">
    </form>
</div>

<% include ../partials/footer.ejs %>