<% include ../partials/header.ejs %>
<h1>Add a new event</h1>


<form action="/events" method="POST">

    <input type="text" name="eventName" placeholder="Name of your event">

    <input type="text" name="location" placeholder="Location of your event">

    <label> Starting Time and Date of Event:
        <input type="datetime-local" name="startTime" placeholder="Starting date and time of your event">
    </label>

    <label> Ending time and date of event:
        <input type="datetime-local" name="endTime" placeholder="Ending date and time of your event">
    </label>

    <textarea name="Description" placeholder="Event Description" id="" cols="30" rows="10"></textarea>

    <input type="submit">
</form>
<% include ../partials/footer.ejs %>
