<% include ../partials/profileheader.ejs %>

<div class="container gridCont">
    <div class="row ">
        <div class="col s12 l4 ">
            <div class="dashbordCard client1"><i class="fas fa-chart-bar fa-5x"style="padding-top: 10px"></i>

               <div style="font-size: 20px"> Events Stats</div>
            </div>
        </div>
        <div class="col s12 l4 ">
            <div class="dashbordCard client1"><i class="fas fa-history fa-5x" style=" padding-top: 10px"></i>
            <div style="font-size: 20px">Events History</div>
            </div>
           </div>
        <div class="col s12 l4 ">
            <div class="dashbordCard client1"><i class="fas fa-money-bill fa-5x" style=" padding-top: 10px"></i>
                <div style="font-size: 20px">Payment History</div>
            </div>


        </div>
    </div>
    <div class="row ">
        <div class="col s12 l4 ">
            <div class="dashbordCard client1"></div>
          </div>
        <div class="col s12 l4 ">
            <div class="dashbordCard client1"></div>
          </div>
        <div class="col s12 l4 ">
            <div class="dashbordCard client1"></div>
        </div>
    </div>
</div>

<% include ../partials/profilefooter.ejs %>