<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/reu.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Eventox Web App </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
    <body>
    <!--<div class="navbar-fixed">-->
       <!-- <nav class="grey">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" class="center brand-logo" >Eventox</a>
                    <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>
                    <ul class="left hide-on-med-and-down">
                        <li>
                            <a href="#home">section1</a>
                        </li>
                        <li>
                            <a href="#search">section2</a>
                        </li>
                        <li>
                            <a href="#home">section3</a>
                        </li>
                        <li>
                            <a href="#home">section4</a>
                        </li>
                    </ul>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a href="/events" class="spla"><button class="btn-small waves-effect waves-dark grey">Events</button></a>
                        </li>
                        <li>
                            <a href="/blog/posts" class="spla"><button class="btn-small waves-effect waves-dark grey">Blogs</button></a>
                        </li>
                        <% if (currentUser != undefined) { %>
                        <li>
                            <a href="/user/calendar" class="spla"><button class="btn-small waves-effect waves-dark grey">My Profile</button></a>
                        </li>
                        <li>
                            <a href="/logout" class="spla"><button class="btn-small waves-effect waves-dark grey">Logout</button></a>
                        </li>
                        <% } else { %>
                        <li>
                            <a href="/login" class="spla"><button class="btn-small waves-effect waves-dark grey">Login</button></a>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
   <nav>
       -->


        <!--<nav>
            <div class="toggle navbar-fixed">
                <i class="fas fa-bars fa-2x menu" ></i>
                <ul class="right">
                    <% if (currentUser != undefined) { %>
                    <li>
                        <a href="/user/calendar" class="spla"><button class="btn-small waves-effect waves-dark butts">My Profile</button></a>
                    </li>
                    <li>
                        <a href="/logout" class="spla"><button class="btn-small waves-effect waves-dark butts">Logout</button></a>
                    </li>
                    <% } else { %>
                    <li>
                        <a href="/login" class="spla"><button class="btn-small waves-effect waves-dark butts">Login</button></a>
                    </li>
                    <% } %>
                </ul>

            </div>
            <a href="/" class="center brand-logo lofk" style="font-family: 'Montserrat', sans-serif;color: black">eventox</a>
       <ul class="leftLinks">
           <li class="links">
               <a href="#home">section1</a>
           </li>
           <li class="links">
               <a href="#search">search</a>
           </li>
           <li class="links">
               <a href="#home">section3</a>
           </li>
           <li class="links">
               <a href="#home">section4</a>
           </li>
       </ul>
    <div class="butts">
        <ul class="right rgl">

            <li class="butt1">
                <a href="/events" class="spla"><button class="btn-small waves-effect waves-dark butts">Events</button></a>
            </li>
            <li>
                <a href="/blog/posts" class="spla"><button class="btn-small waves-effect waves-dark butts">Blogs</button></a>
            </li>

            <% if (currentUser != undefined) { %>
            <li class="logs">
                <a href="/user/calendar" class="spla"><button class="btn-small waves-effect waves-dark butts">My Profile</button></a>
            </li>
            <li class="logs">
                <a href="/logout" class="spla"><button class="btn-small waves-effect waves-dark butts">Logout</button></a>
            </li>
            <% } else { %>
            <li class="logs">
                <a href="/login" class="spla"><button class="btn-small waves-effect waves-dark butts">Login</button></a>
            </li>
            <% } %>
        </ul>
    </div>

        </nav>-->
        <nav class="mytop">
            <a><i class="fas fa-bars fa-2x" style="display: none"></i></a>
            <a href="/" class="brand-logo lofk" style="font-family: 'Montserrat', sans-serif;color: white">eventox</a>

            <ul class="leftLinks">
                <li class="links">
                    <a href="#home">section1</a>
                </li>
                <li class="links">
                    <a href="#home">section3</a>
                </li>
                <li class="links">
                    <a href="#home">section4</a>
                </li>
                <li class="links">
                    <a href="/events">Events</a>
                </li>
                <li class="links">
                    <a href="/blog/posts">Blogs</a>
                </li>
                <li class="searchF">
                    <a><i class="fa fa-search fa-2x" onclick="openSearch()"></i></a>
                </li>
                <% if (currentUser != undefined) { %>
                <li class="logs">
                    <a href="/user/calendar" class="svg"><i class="far fa-user-circle fa-2x"></i></a>
                </li>
                <li class="logs">
                    <a href="/logout" class="svg"><i class="fas fa-sign-out-alt"></i></a>
                </li>
                <% } else { %>
                <li class="logs">
                    <a href="/login" class="spla"><button class="btn-small waves-effect waves-dark butts">Login</button></a>
                </li>
                <% } %>

            </ul>

        </nav>
    <div id="myOverlay" class="overlay">
        <span class="closebtn" onclick="closeSearch()" title="Close Overlay">×</span>
        <div class="overlay-content">
            <form action="/search" method="post" id="formSearch">
                <div class="input-field">
                <input class="autocomplete" name="searchevent" id="autocomplete-input" autocomplete="off" style="color: white; font-size: 40px"placeholder="Marathon, Hackathon, etc..">
                <button  id="mybutt"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
    <div class="container hello">
        <nav class="mynav">
            <a href="/" class="center brand-logo lofk" style="font-family: 'Montserrat', sans-serif;color: white">eventox</a>

            <a href="#0" class="js-menu-open menu-open">
                <i class="material-icons">menu</i>
            </a>
        </nav>
        <div class="js-side-nav-container side-nav-container">
            <div class="js-side-nav side-nav">
                <a href="#0" class="js-menu-close menu-close">
                    <i class="material-icons" style="float: right">close</i>
                 </a>

            </div>
        </div>
    </div>

   <!--</div>-->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript">
       /*$(document).ready(function () {
            $(".menu").click(function () {
                $(".leftLinks").toggleClass('active');
            })
       })
       */
       /*search*/
       function openSearch() {
           document.getElementById("myOverlay").style.display = "block";
       }

       function closeSearch() {
           document.getElementById("myOverlay").style.display = "none";
       }
       'use strict'

       class SideNav {
           constructor () {
               this.sideNavEl = document.querySelector('.js-side-nav');
               this.sideNavContainerEl = document.querySelector('.js-side-nav-container');
               this.showButtonEl = document.querySelector('.js-menu-open');
               this.closeButtonEl = document.querySelector('.js-menu-close');

               this.openSideNav = this.openSideNav.bind(this);
               this.closeSideNav = this.closeSideNav.bind(this);
               this.blockClicks = this.blockClicks.bind(this);
               this.onTransitionEnd = this.onTransitionEnd.bind(this);

               this.addEventListeners();
           }

           addEventListeners() {
               this.showButtonEl.addEventListener('click', this.openSideNav);
               this.closeButtonEl.addEventListener('click', this.closeSideNav);
               this.sideNavEl.addEventListener('click', this.blockClicks);
               this.sideNavContainerEl.addEventListener('click', this.closeSideNav);
           }

           blockClicks(evt) {
               evt.stopPropagation();
           }

           onTransitionEnd(evt) {
               this.sideNavContainerEl.classList.remove('side-nav-animatable');
               this.sideNavContainerEl.removeEventListener('transitionend', this.onTransitionEnd);
           }

           openSideNav() {
               this.sideNavContainerEl.classList.add('side-nav-animatable');
               this.sideNavContainerEl.classList.add('side-nav-visible');
               this.sideNavContainerEl.addEventListener('transitionend', this.onTransitionEnd);
           }

           closeSideNav() {
               this.sideNavContainerEl.classList.add('side-nav-animatable');
               this.sideNavContainerEl.classList.remove('side-nav-visible');
               this.sideNavContainerEl.addEventListener('transitionend', this.onTransitionEnd);
           }
       }

       new SideNav();
    </script>