<div class="help-footer">
	<div class="help-left">
		<p>Having Doubts? Send your queries at</p>
		<p>Email: <a href="">intq@eventox.in</a></p>
		<p>Whatsapp: +91 8851272999</p>
	</div>
	<div class="help-right">
		<img src="/public/eventox-logo.jpg">
	</div>
</div>
</body>
</html>