		</div>
	</div>
	<div class="panel-right hide-on-med-and-down">
		<a class="" href="">List Your Event</a>
		<a class="" href="">Hire a Freelancer</a>
		<a class="" href="">Submit a Blog</a>
		<a class="" href="">Register as Freelancer</a>
		<a class="" href="">Get Sponsership</a>
		<a class="" href="">Get Merchandise and Print Services</a>
		<a class="" href="">Hire an EM Company</a>
		<a class="" href="">Change Interests</a>
		<a class="" href="">Help & F.A.Q</a>
		<a class="" href="">Settings</a>
		<a class="" href="">Get One Click Registration</a>
		<a class="" href="">Write a Feedback</a>
	</div>

</div>

		</body>
		</html>