<% include partials/header.ejs %>
<head>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
  <!--<link rel="stylesheet" type="text/css" href="../public/assets/aos.css">-->
</head>
    <ul class="sidenav" id="mobile-nav">
        <li>
            <a href="#home">Events</a>
        </li>
        <li>
            <a href="#home">Blogs</a>
        </li>
        <li>
            <a href="#home">My Profile</a>
        </li>
        <li>
            <a href="#home">Users</a>
        </li>
    </ul>

<!--Slider-->
<!--
<section class="slider sliderAnimation">
    <ul class="slides">
        <li class="slideImage">
            <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="">
            <div class="caption center-align">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="/login" class="btn btn-large butts">Continue</a>

            </div>

        </li>
        <li class="slideImage">
            <img src="https://image.ibb.co/mn1egc/resort2.jpg" alt="">
            <div class="caption left-align">
                <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="/login" class="btn btn-large butts">Continue</a>

            </div>
             </li>
            <li class="slideImage">
            <img src="https://image.ibb.co/mbCVnH/resort3.jpg" alt="">
            <div class="caption right-align">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="/login" class="btn btn-large butts">Continue</a>

            </div>
        </li>
    </ul>

</section>
-->
<!--<div class="myTest">
   </div>-->
<!--
<script src="/public/assets/particles.js"></script>
<script src="/public/assets/hello.js"></script>
-->
<!--/Slider-->

<!--Search-->
<!--

<section id="search" class="section searchBox section-search darken-1 center scrollspy">
    <div class="container ">
        <div class="row">
            <div class="col s12 ">
                <h3 data-aos="flip-up">Search Events</h3>
                <div class="input-field">
                    <input type="text" class="white grey-text autocomplete" id="autocomplete-input" placeholder="Marathon, Hackathon, etc..">
                </div>
            </div>
        </div>
    </div>
</section>
-->

<!--/Search-->
<!--
<div class="myslider">
    <p class="item-1">This is your last chance. After this, there is no turning back.</p>

<p class="item-2">You take the blue pill - the story ends, you wake up in your bed and believe whatever you want to believe.</p>

<p class="item-3">You take the red pill - you stay in Wonderland and I show you how deep the rabbit-hole goes.</p>
</div>
-->
    <!--Section Boxes-->
<div class="mytext">
<div class="slidingVertical">
    <span><h2>Amazing.</h2></span>
    <span><h2>Beautiful.</h2></span>
    <span><h2>Cute.</h2></span>
    <span><h2>Delightful.</h2></span>
    <span><h2>Emotional.</h2></span>
</div>
</div>
<div class="mytext2">
    <div class="slidingVertical1">
        <span><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p></span>
        <span><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p></span>
        <span><p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p></span>
        <span><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p></span>
    </div>

</div>
<div class="myback">
<section class = "section section-icons lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s12 m4 host">
                <div class="card-panel client fall-item fall-effect"  >
                    <i class="material-icons large logo ">add_location</i>
                        <h4>host</h4>
                       <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nihil.</p>-->

                </div>
            </div>
            <div class="col s12 m4"  data-aos="flip-left">
                <div class="card-panel client fall-item fall-effect" >
                    <i class="material-icons large logo">group_add</i>
                    <h4>Connect</h4><!--
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nihil.</p>-->

                </div>
            </div>
            <div class="col s12 m4" data-aos="flip-left">
                <div class="card-panel client fall-item fall-effect" >
                   <i class="material-icons large logo" >explore</i>
                    <h4>Explore</h4><!--
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nihil.</p>-->

                </div>
            </div>
        </div>
    </div>
<!--
<div class="container mycircles row">
    <div class="col sm12 md4 span3">
        <div class="circle">
        </div>
    </div>
    <div class="col sm12 md4 span3">
        <div class="circle">
        </div>
    </div>
    <div class="col-sm-12 col-md-4 span3">
        <div class="circle">
        </div>
    </div>
</div>
-->
</section>

<!--/section boxes-->


<!--featured Events-->
<section id="featured" class="featured section-featured scrollspy">
    <div class="container">
        <div class="row">
            <h4>Featured Events on Eventox</h4>
            <div class="col s12 m4">
                <div class="card featuredCards" data-aos="fade-up"
                     data-aos-duration="3000">
                    <div class="card-image ">
                        <img src="https://picsum.photos/g/100/?random" alt="">
                        <span class="card-title">Lorem Ipum</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light shareButt"><i class="fas fa-share-alt"></i></a>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laudantium nostrum officia, optio provident soluta tenetur? Eius explicabo quia veniam.
                   <div> <a href="#"><i class="fas fa-ellipsis-h fa-1x dotsButt"></i></a></div>
                     </div>


                </div>
            </div>
            <div class="col s12 m4">
                <div class="card featuredCards" data-aos="fade-up"
                     data-aos-duration="3000">
                    <div class="card-image">
                        <img src="https://picsum.photos/g/100/?random" alt="">
                        <span class="card-title">Lorem Ipum</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light shareButt"><i class="fas fa-share-alt"></i></a>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laudantium nostrum officia, optio provident soluta tenetur? Eius explicabo quia veniam.
                        <div> <a href="#"><i class="fas fa-ellipsis-h fa-1x dotsButt"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card featuredCards" data-aos="fade-up"
                     data-aos-duration="3000">
                    <div class="card-image">
                        <img src="https://picsum.photos/g/100/?random" alt="">
                        <span class="card-title">Lorem Ipum</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light shareButt"><i class="fas fa-share-alt"></i></a>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laudantium nostrum officia, optio provident soluta tenetur? Eius explicabo quia veniam.
                        <div> <a href="#"><i class="fas fa-ellipsis-h fa-1x dotsButt"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card featuredCards" data-aos="fade-up"
                     data-aos-duration="3000">
                    <div class="card-image">
                        <img src="https://picsum.photos/g/100/?random" alt="">
                        <span class="card-title">Lorem Ipum</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light shareButt"><i class="fas fa-share-alt"></i></a>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laudantium nostrum officia, optio provident soluta tenetur? Eius explicabo quia veniam.
                        <div> <a href="#"><i class="fas fa-ellipsis-h fa-1x dotsButt"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card featuredCards" data-aos="fade-up"
                     data-aos-duration="3000">
                    <div class="card-image">
                        <img src="https://picsum.photos/g/100/?random" alt="">
                        <span class="card-title">Lorem Ipum</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light shareButt"><i class="fas fa-share-alt"></i></a>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laudantium nostrum officia, optio provident soluta tenetur? Eius explicabo quia veniam.
                        <div> <a href="#"><i class="fas fa-ellipsis-h fa-1x dotsButt"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card featuredCards" data-aos="fade-up"
                     data-aos-duration="3000">
                    <div class="card-image">
                        <img src="https://picsum.photos/g/100/?random" alt="">
                        <span class="card-title">Lorem Ipum</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light shareButt"><i class="fas fa-share-alt"></i></a>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laudantium nostrum officia, optio provident soluta tenetur? Eius explicabo quia veniam.
                        <div> <a href="#"><i class="fas fa-ellipsis-h fa-1x dotsButt"></i></a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!--Footer Section Error in this section-->
<!--
<section>
    <div id="footer" class="section scrollspy footBox">
        <img src="../public/eventox-logo.jpg" class="eventFooter" height="100px" width="100px">
        <div class="container buttFoot">
            <div class="row">

                <div class="col s12 m4 ">
                    <div class="row ">
                        <div class="col l12 s6 applMgn">
                            <a class="waves-effect waves-light btn darken-2 butts checkBlog">Check Out Our Blog</a>
                        </div>
                        <div class="row">
                        <div class="col l12 s6 applMgn">
                            <a class="waves-effect waves-light btn butts">Meet the team</a>
                        </div>
                        <div class="col l12 s6 applMgn">
                            <a class="waves-effect waves-light btn butts">Work With Us</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
            &lt;!&ndash;<p class="flow-text">Eventox &copy; 2018</p>&ndash;&gt;

        </div></div>
</section>
-->
<!--myfooter-->

<footer class="footer-distributed">
    <div class="footer-left">
        <h3><span>&nbsp;<img src="/public/eventox-logo.jpg" height="50px"></span>&nbsp;eventox</h3>

        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Blog</a>
            ·
            <a href="#">Pricing</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#">Faq</a>
            ·
            <a href="#">Contact</a>
        </p>

        <p class="footer-company-name">eventox© 2018</p>

        <div class="footer-icons">

            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

    <div class="footer-right">

        <p>Contact Us</p>

        <form action="#" method="post">

            <input type="text" name="email" placeholder="Email">
            <textarea name="message" placeholder="Message"></textarea>
            <button>Send</button>

        </form>

    </div>

</footer>




<!--JavaScript at end of body for optimized loading-->
<script src="../public/assets/aos.js"></script>
<script type="text/javascript">
    AOS.init({
        duration:1200,
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script>


    var sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav,{});
    //slider
    const slider = document.querySelector('.slider');
    M.Slider.init(slider, {
        indicators: false,
        height: 750,
        transition: 500,
        interval: 6000
    });

    const ac = document.querySelector('.autocomplete');
    M.Autocomplete.init(ac, {
        data: {
            "Moksha": null,
            "Enigma": null,
            "Engifest": null,
            "MoodIndigo": null,
            "Zigma": null,
            "Zephyr": null

        }});
</script>
</body>
</html>
