<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="./css/main.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Evenox Web App</title>

</head>

<body>

<div class="navbar-fixed">
    <nav class="grey">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="center brand-logo" >Evenox</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="left hide-on-med-and-down">
                    <li>
                        <a href="#home">section1</a>
                    </li>
                    <li>
                        <a href="#search">section2</a>
                    </li>
                    <li>
                        <a href="#home">section3</a>
                    </li>
                    <li>
                        <a href="#home">section4</a>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="#home" class="spla"><button class="btn-small waves-effect waves-dark grey">Events</button></a>
                    </li>
                    <li>
                        <a href="#home" class="spla"><button class="btn-small waves-effect waves-dark grey">Blogs</button></a>
                    </li>
                    <li>
                        <a href="#home" class="spla"><button class="btn-small waves-effect waves-dark grey">My Profile</button></a>
                    </li>
                    <li>
                        <a href="#home" class="spla"><button class="btn-small waves-effect waves-dark grey">Users</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

    <ul class="sidenav" id="mobile-nav">
        <li>
            <a href="#home">Events</a>
        </li>
        <li>
            <a href="#home">Blogs</a>
        </li>
        <li>
            <a href="#home">My Profile</a>
        </li>
        <li>
            <a href="#home">Users</a>
        </li>
    </ul>

<!--Slider-->
<section class="slider">
    <ul class="slides">
        <li>
            <img src="https://image.ibb.co/hbEMux/resort1.jpg" alt="">
            <div class="caption center-align">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
        <li>
            <img src="https://image.ibb.co/mn1egc/resort2.jpg" alt="">
            <div class="caption left-align">
                <h2>Lorem ipsum dolor sit amet, consectetur.</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
        <li>
            <img src="https://image.ibb.co/mbCVnH/resort3.jpg" alt="">
            <div class="caption right-align">
                <h2>Lorem ipsum dolor sit amet.</h2>
                <h5 class="light grey-text text-lighten-3 hide-on-small-only">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam non illo earum cumque id est!</h5>
                <a href="#" class="btn btn-large">Learn More</a>
            </div>
        </li>
    </ul>
</section>

<!--/Slider-->

<!--Search-->

<section id="search" class="section section-search grey darken-1 center scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3>Search Events</h3>
                <div class="input-field">
                    <input type="text" class="white grey-text autocomplete" id="autocomplete-input" placeholder="Marathon, Hackathon, etc..">
                </div>
            </div>
        </div>
    </div>
</section>


<!--/Search-->

<!--Section Boxes-->

<section class = "section section-icons grey lighten-4 center">
    <div class="container">
        <div class="row">
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large grey-text">add_location</i>
                        <h4>host</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nihil.</p>

                </div>
            </div>
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large grey-text">group_add</i>
                    <h4>Connect</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nihil.</p>

                </div>
            </div>
            <div class="col s12 m4">
                <div class="card-panel">
                    <i class="material-icons large grey-text">explore</i>
                    <h4>Explore</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nihil.</p>

                </div>
            </div>
        </div>
    </div>
</section>

<!--/section boxes-->


<!--featured Events-->
<section id="featured" class="featured section-featured scrollspy">
    <div class="container">
        <div class="row">
            <h4>Featured Events on Evenox</h4>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://picsum.photos/g/100/?random" alt="">
                        <span class="card-title">Lorem Ipum</span>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laudantium nostrum officia, optio provident soluta tenetur? Eius explicabo quia veniam.
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://picsum.photos/g/100/?random" alt="">
                        <span class="card-title">Lorem Ipum</span>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laudantium nostrum officia, optio provident soluta tenetur? Eius explicabo quia veniam.
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://picsum.photos/g/100/?random" alt="">
                        <span class="card-title">Lorem Ipum</span>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laudantium nostrum officia, optio provident soluta tenetur? Eius explicabo quia veniam.
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://picsum.photos/g/100/?random" alt="">
                        <span class="card-title">Lorem Ipum</span>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laudantium nostrum officia, optio provident soluta tenetur? Eius explicabo quia veniam.
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://picsum.photos/g/100/?random" alt="">
                        <span class="card-title">Lorem Ipum</span>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laudantium nostrum officia, optio provident soluta tenetur? Eius explicabo quia veniam.
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://picsum.photos/g/100/?random" alt="">
                        <span class="card-title">Lorem Ipum</span>
                    </div>
                    <div class="card-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur laudantium nostrum officia, optio provident soluta tenetur? Eius explicabo quia veniam.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Footer Section-->
<section>
    <div id="footer" class="section scrollspy grey">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="row">
                        <div class="col s12 applMgn">
                            <a class="waves-effect waves-light btn grey darken-2">Check Out Our Blog</a>
                        </div>
                        <div class="row">
                        <div class="col s6 applMgn">
                            <a class="waves-effect waves-light btn grey">Meet the team</a>
                        </div>
                        <div class="col s6 applMgn">
                            <a class="waves-effect waves-light btn grey">Work With Us</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
            <!--<p class="flow-text">Evenox &copy; 2018</p>-->

        </div>
</section>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    var sideNav = document.querySelector('.sidenav');
    M.Sidenav.init(sideNav,{});

    //slider
    const slider = document.querySelector('.slider');
    M.Slider.init(slider, {
        indicators: false,
        height: 500,
        transition: 500,
        interval: 6000
    });

    const ac = document.querySelector('.autocomplete');
    M.Autocomplete.init(ac, {
        data: {
            "Moksha": null,
            "Enigma": null,
            "Engifest": null,
            "MoodIndigo": null,
            "Zigma": null,
            "Zephyr": null

        }});
</script>
</body>
</html>