<% include partials/header.ejs %>


<div class="navbar-fixed">
    <nav class="grey">
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="center brand-logo" >Evenox</a>
                <a href="#" data-target="mobile-nav" class="sidenav-trigger">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="left hide-on-med-and-down">
                    <li>
                        <a href="#home">section1</a>
                    </li>
                    <li>
                        <a href="#search">section2</a>
                    </li>
                    <li>
                        <a href="#home">section3</a>
                    </li>
                    <li>
                        <a href="#home">section4</a>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="/events" class="spla"><button class="btn-small waves-effect waves-dark grey">Events</button></a>
                    </li>
                    <li>
                        <a href="/blog" class="spla"><button class="btn-small waves-effect waves-dark grey">Blogs</button></a>
                    </li>
                    <% if (currentUser != undefined) { %>
                    <li>
                        <a href="/user" class="spla"><button class="btn-small waves-effect waves-dark grey">My Events</button></a>
                    </li>
                    <li>
                        <a href="/logout" class="spla"><button class="btn-small waves-effect waves-dark grey">Logout</button></a>
                    </li>
                    <% } else { %>
                    <li>
                        <a href="/login" class="spla"><button class="btn-small waves-effect waves-dark grey">Login</button></a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

</div>

<ul class="sidenav" id="mobile-nav">
    <li>
        <a href="#home">Events</a>
    </li>
    <li>
        <a href="#home">Blogs</a>
    </li>
    <li>
        <a href="#home">My Profile</a>
    </li>
    <li>
        <a href="#home">Users</a>
    </li>
</ul>


<div class="container">
    <div class="row">
        <div class="col s12 m6 l3">
            <h3>login form</h3>
            <form action="/login" method="POST">
                <div class="input-field">
                    <label for="username-login">Username:</label>
                    <input type="text" name="username" id="username-login">
                </div>
                <div class="input-field">
                    <label for="password-login">Password:</label>
                    <input type="password" name="password" id="password-login">
                </div>
                <input type="submit">
            </form>
            <a href="/auth/facebook">
                <div><i class="fab fa-facebook-square"></i>Login With Facebook</div>
            </a>
        </div>
        <div class="col s12 m6 l4 right">
            <h3>Register</h3>
            <form action="/register" method="POST">
                <div class="input-field">
                    <label for="Username">Username:</label>
                    <input type="text" name="username" id="Username">
                </div>

                <div class="input-field">
                    <label for="Password">Password:</label>
                    <input type="password" name="password" id="Password">
                </div>

                <div class="input-field">
                    <label for="name">Name:</label>
                    <input type="text" name="name" id="name">
                </div>

                <div class="input-field">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
                </div>

                <div class="input-field">
                    <label for="Phone Number">Phone Number</label>
                    <input type="text" name="phone" id="Phone Number">
                </div>

                    <input type="submit">

            </form>
        </div>
    </div>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

</body>
</html>

