<h1>Signup Form</h1>


<form action="/register" method ="post">
    <input type="text" name="name" placeholder="Please enter your name">
    <input type="text" name="userName" placeholder="Please enter a username">
    <input type="email" name="email" placeholder="Please enter your Email ID">
    <input type="text" name="phoneNumber" placeholder="please enter your phone number">
    <input type="submit">
</form>