<% include ../partials/header.ejs %>
<div class="container">
    <form action="/blog/posts" method="post">
        <input name="title" type="text" placeholder="title">
        <input name="content" type="text" placeholder="content">
        <input type="submit">
    </form>

</div>

<% include ../partials/footer.ejs %>
