<% include ../partials/header.ejs %>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Converter.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Editor.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/pagedown/1.0/Markdown.Sanitizer.js"></script>
<link rel="stylesheet"
      href="//cdn.rawgit.com/balpha/pagedown/master/demo/browser/demo.css" />

<style>
    .correct{
        margin-top: 100px;
        margin-bottom: 36px;
    }
    @media only screen and (max-width: 601px){
        .correct{
            margin-top: 92px;
            margin-bottom: 36px;
        }
    }
    .wmd-button-row{
        height: 30px;
        overflow-x: auto;
    }
    .wmd-button > span {
        background-image:
                url('//cdn.rawgit.com/derobins/wmd/master/images/wmd-buttons.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 20px;
        height: 20px;
        display: inline-block;
    }
    .wmd-panel{
        width: 100%;
        min-width: 0;
    }
    .wmd-preview { margin: 0 auto 25px 0; background-color: #eef;}
    .wmd-preview p {
        width:100%;
    }

</style>

<div class="container correct">

    <form action="/blog/posts" method="post">
        <input name="title" type="text" placeholder="Add Blog Title">
        <div id="wmd-button-bar"></div>

        <textarea name="content" placeholder="content" id="wmd-input" class="wmd-input"></textarea>

        <label class="lb">Preview of your blog</label>
        <div id="wmd-preview" class="wmd-panel wmd-preview"></div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
<script>
    var converter = Markdown.getSanitizingConverter();
    var editor = new Markdown.Editor(converter);
    editor.run();
</script>
<% include ../partials/footer.ejs %>
